textarea {
    width: 350px;
    height: 300px;
    padding: 10px;
}
label {
    float: left;
    margin: 20px;
    padding-top: 5px;
}
input {
    float: left;
    margin: 20px;
    padding: 5px;
}
button {
    float: right;
    margin: 20px 15px 0 0;
    border-radius: 5px;
    background: #fff;
}
.fas {
    font-size: 20px;
}